<div id="contact" class="reveal-modal">
 <h2>Contact</h2>
 <p>
   <strong>Jeremy Nelson</strong><br>
   Metadata and Systems Librarian<br>
   <a href="http://www.coloradocollege.edu/library">Tutt Library</a>, 
   <a href="http://www.coloradocollege.edu/">Colorado College</a><br>
   <a href="mailto:jeremy.nelson@coloradocollege.edu">jeremy.nelson@coloradocollege.edu</a>
   (970) 389-6895<br>
    @jermnelson - Twitter
 </p>
 <a class="button" onclick="$('#contact').foundation('reveal', 'close')">Close</a>
 <a class="close-reveal-modal">&#215;</a>
</div>
