{% extends 'layout.html' %}
{% block subtitle %}- Diversity of Library Patrons{% endblock %}

{% block body %}
{# START Title Row #}
<div class="row">
 <aside class="large-3 columns">
  <div class="panel">
   <h3>Our Challenge</h3>
   <p>
   How do we respond to the diversity of our communities, be they race, gender,
   age, political affiliation, sexual orientation, religious identification,
   learning status, or any other cohort catagorization? 
   </p>
  </div>
 </aside>
 <article class="large-9 columns slide-body-grn">
  <h2>Diversity of Library Patrons</h2>
   <p>Our technological tools need to be lightweight, easy-to-use, and enable the
      library to quickly respond to the changing information needs of our diverse
     communities across the state.</p>
 </article>
{# END Title Row #}
</div>
{% endblock %}
