  <!-- Footer -->

  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; 2013 by Jeremy Nelson under the Creative Commons Attribution 3.0 Unported License.</p>
        </div>
        <div class="large-6 columns">
          <nav class="breadcrumbs">
           <a href="/calli-2013-presentation/">Home</a>
           {% for slide in slides.values() %}
            <a href="/calli-2013-presentation/slides/{{ slide.name }}"
               {% if current.name==slide.name %}class="current"{% endif %}>Slide {{ loop.index }}</a>
           {% endfor %}
          </nav>
       </div>
      </div> {# END Inside Row #}
      <div class="row">
       <div class="large-12" style="font-size: .75em">
        <p>
        Presentation source code and content repository available at 
        <a href="https://github.com/jermnelson/calli-2013-presentation">
        https://github.com/jermnelson/calli-2013-presentation
        </a>
       </p>
        <hr>
       </div>
      </div>
    </div>
  </footer>
