{% extends "layout.html" %}

{% block more_css %}
<style>
 .future-worse h3 {
  padding-left: .5em;
 } 

 .future-worse p {
  padding: .5em;
 }

 .future-worse-questions {
  background-color: rgb(212, 182, 109);
  border: 2px solid rgb(159, 154, 160);
 }
 .future-worse-questions ul, li {
  margin-left: 1em;
 }
</style>
{% endblock %}

{% block body %}
{# START First Row #}
<div class="row">
 <header class="large-12 columns">
  <h3>In five years...</h3>
  <h2>{{ current.label }}</h2>
 </header>
{# END First Row #}
</div>

{# START Scenario Row #}
<div class="row">
  <article class="large-6 columns">
   <div class="future-worse">
    <h3>Starting Scenario</h3>
    <p>
     In this worse than expected scenario, Colorado and the World economy are in the depths of a "double-dip" 
     recession that has bring many local governments to the brink of 
     bankruptcy. The bursting of the Higher Education bubble, caused many  
     colleges and universities to scramble to remain solvent. These institutions are faced with lower or 
     collapsed enrollments and non-existent state funding. With reduced Federal and State guarantees for
     student loans, the young are no longer attending colleges and universities. These funding gaps has
     resulted in many library services cut-backs and libraries closures within in the state. The increased income 
     disparities between the rich and the rest have caused more instability among all layers and levels
     of society. Because of this trend, information access for the poor and middle 
     class is decreasing as digitally disadvantaged because they cannot afford or access to
     premium information services.
    </p>
    <p>
     In the previous summer of 2016, a rural library near Rush Colorado was burned to the ground
     in the now yearly wildfires that continue to plague our state. Politically, the resurgence
     of reactionary groups that started in the early 2010s with teabaggers movement and later galvanized 
     after the successful recall election of 2013, have challenged the necessity of tax-payer 
     funded public libraries. As a result of this increased political pressure, many suburban 
     branch and rural libraries have been shuttered or have had their hours, staff, and resources
     severely reduced. In the remaining libraries, morale among librarians and staff is at an all time
     low with layoffs and salary reductions the new normal.
    </p>
    <p>
     With library vendors fighting over the scraps of library technology funding, most of the libraries 
     that are left cannot afford, let alone support, these expensive systems and as a consequence, they
     are forced to use now decades-old MARC-based OPACS for continuously shrinking collections. With the
     bankruptcy and dissolution of many regional library consortium, formally efficient intra-library 
     loans, now take weeks instead of days. Academic and popular publishers have successfully lobbied
     the United States Congress to rescind all open access mandates and to privatize more government 
     information into silos with access to only paid subscribers. Open source is a marginal force in 
     libraries, having never lived up to its hype, most libraries lack any desire to collaborate on 
     other libraries, especially regarding possible experimental projects or initiatives. 
    </p>
   </div>
  </article>
  <div class="large-6 columns">
   <iframe width="420" height="315" src="//www.youtube.com/embed/zNT3AWB7dds" frameborder="0" allowfullscreen></iframe>
   <hr>
   <aside class="future-worse-questions">
    <h3>Leadership Questions</h3>
    <ul>
     <li>How would you answer the question, "What will library technology collaboration in Colorado look like in 2013?" given
         this scenario </li>
     <li>Is there a way for you to answer the above question in way that is happy or at least acceptable to you?</li>
     <li>What strategies should we start looking at now to prepare our technology collaboration if this scenario were
       to occur?   
     </li>
    </ul>
   </aside>
  </div>
{# END Scenario Row #}
</div>
{% endblock %}
