{% extends "layout.html" %}

{% block more_css %}
<style>
 .slide-body-blu ul, li {
   padding-left: 1em;

 }
</style>
{% endblock %}

{% block body %}
{# START First Row #}
<div class="row">
 <header class="large-12 columns">
  <h3>In five years...</h3>
  <h2>{{ current.label }} (the status quo)</h2>
 </header>
{# END First Row #}
</div>

{# START Row #}
<div class="row">
 <article class="large-8 columns">
  <div class="panel">
   <p>
    This scenario relates the status quo, the current state of library technology 
    collaboration in Colorado and extrapolates existing trends with no significant changes from the current
    moment. 
   </p>

   <p>
    Public, K-12 media centers, Academic, and Special Libraries participate 
    in formal and informal collaborations with similar and different libraries in 
    a variety of consortiums including <a href="http://www.clicweb.org/">CLiC</a>,, 
    <a href="http://www.marmot.org/">Marmot</a>,
    and <a href="https://www.coalliance.org/">CARL</a>. This collaborative include 
    shared ILS (Marmot &amp; AspenCat), shared
    digital repositories (CARL), 
    shared website hosting (<a href="http://www.plinkit.org/">Plinkit</a>), and a shared union 
    catalog (<a href="http://www.clicweb.org/aspencat/aspencatsearch">AspenCat</a>,
             <a href="http://prospectorhome.coalliance.org/">Prospector</a>, 
             <a href="http://opac.marmot.org/">Marmot</a>). 
   </p>
   <p>
    In 2018 many of these library consortiums will use a variety of commercial and 
    open-source technologies to deliver library services. We will see more experimentation
    in library technology collaboration 
    especially between libraries that share geographic proximity, type (public, academic,
    special, or K-12), or other shared characteristic or other shared characteristics.
    Most library platforms and services will be delivered seamless over the even more
    persistent network to a wider range of devices including wrist-watch and eye-glasses
    form factors. Finally, in 2018 hybrid environments where resources like books and 
    articles are available both in print and in electronic formats, will be available in ever
    greater numbers with the same messy mix of licensing, copyrights, platforms, DRAM, and 
    availability.
   </p>
   <p>
    We expect that funding for libraries will remain the same or with slight increases.  
   </p>
  </div>
 </article>
 <div class="large-4 columns">
  <div class="row">
   <aside class="large-8 slide-body-blu">
    <h3>Leadership Questions</h3>
    <ul>
      <li>How would you answer the question, "What will library technology collaboration 
          in Colorado look like in 2018?" given this scenario</li>
      <li>Are the current library technology collaborations particularly through library 
          consortiums acceptable to you and your institution?
       </li>
      <li>
       What choices and leadership can we build upon in our current library technology that 
       would position us for us to achieve even this, the status quo future?
      </li>
   </aside>
  </div>
 </div>
{# END Row #}
</div>
{% endblock %}
