{% extends "layout.html" %}

{% block more_css %}
<style>
 .purple {
   background-color: rgb(245, 90, 155);
   border: 2px solid rgb(133, 90, 213);
   padding: .5em;
 }

 .purple ul, li {
  padding-left: 1em;

 }

 .future-better h3 {
  color: rgb(255, 234, 219);
  padding-left: .5em;
 }

 .future-better p {
  color: rgb(239, 228, 176);
 }

 .sunlight {
  background-color: rgb(239, 228, 176);
  border: 2px solid rgb(141, 121, 29);
  padding: .5em;
 }
</style>
{% endblock %}

{% block body %}
{# START First Row #}
<div class="row">
 <header class="large-12 columns">  
  <img src="/calli-2013-presentation/assets/img/sun-sky.png"  style="float: left; padding-right: .5em">
  <h3>In five years...</h3>
  <h2>The {{ current.label }}</h2>
 </header>
{# END First Row #}
</div>

{# START scenario Row #}
<div class="row">
 <aside class="large-4 columns">
  <div class="purple radius">
   <h5>Leadership Questions</h5> 
   <ul>
    <li>
     How would you answer the question, "What will library technology collaboration in Colorado 
     look like in 2018?" given this scenario
    </li> 
   </ul>
  </div>
   <hr>
  <div class="sunlight radius">
   <h4>From Seth Godin's blog</h4> 
   <quote style="font-style: italic">
    <p>
    The next library is a house for the librarian with the guts to invite kids 
    in to teach them how to get better grades while doing less grunt work. And 
    to teach them how to use a soldering iron or take apart something with no 
    user serviceable parts inside. And even to challenge them to teach classes 
    on their passions, merely because it's fun. This librarian takes 
    responsibility/blame for any kid who manages to graduate from school without 
    being a first-rate data shark.
    </p>
    <p>
    The next library is filled with so many web terminals there's always at least 
    one empty. And the people who run this library don't view the combination of 
    access to data and connections to peers as a sidelight--it's the entire point.
    <footnote>
     Seth Godin, 
     <a href="/calli-2013-presentation/resources.html#future-of-the-library"><em>The future of the library</em></a>    
    </footnote>
   </quote>

  </div>
 </aside>
 <article class="large-8 columns">
  <iframe width="420" height="315" src="//www.youtube.com/embed/YaH5_6kkvW4" frameborder="0" allowfullscreen></iframe>
  <hr>
  <div class="future-better">
   <h3>Starting Scenario</h3>
   <p>
    With the relative economic boom of most counties in Colorado along with the recognition among
    local communities about the value of public and academic libraries in their communities technological
    collaboration among libraries flourishes with the adoption of open-source bibliographic services 
    running on what they would call a hybrid cloud in 2013. Many larger libraries offer Makerspaces
    that offer free or reduced costs access to their patrons to build and use 3D printers, 
    <a href="http://arduino.cc/">Ardiunos</a>, <a href="http://www.raspberrypi.org/">Raspberry Pi</a>, and
    other open hardware platforms
    for projects and experimentation that create whole new categories of materials that need cataloging, curating
    managing, and publishing. Libraries because a central hub of sharing in their communities of original
    and remixed creative  
   </p>
   <p>
    As a response to the increased wildfire danger, many Colorado Libraries in communities that are likely 
    to be impacted will offer emergency information services to distressed citizens. They accomplish this
    through a resilient library technology pull platform and mobilizes citizens across the state to share
    resources and information when emergencies like wildfires or floods. 
   </p>
   <p>
    Library technologies services are quickly built and pushed out across the various formal and informal 
    networks of library services including formal library consortium as well as ad hoc sharing networks without
    any formal organizational structures. Library collections are widely with access through responsive web 
    apps that morph and configure themselves automatically to the changing device forms including all the 
    smartphones, tablets, augmented glasses, wristwatches, and multiple and proliferating screens. 


   </p>
  </div>
 </article>
{# END scenario Row #}
</div>
{% endblock %}
