{% extends 'layout.html' %}
{% block subtitle %}- Glossary{% endblock %}

{% block body %}
<div class="row">
 <div class="large-12">
  <article class="panel">
   <h1>Glossary</h1>
   <dl>
     <dt><a name="lean-manufacturing"></a>Lean Manufacturing</dt>
     <dd>
      A management and production philosophy, pioneered by Toyota, 
      that strives to manufacture a product based on the 
      demand of the customer with a focus on just-in-time delivery 
      of inputs and a reduction of waste. 
     </dd>
     <dt><a name="lean-startup"></a>Lean Startup</dt>
     <dd>

     </dd>
     <dt><a name="pull-platform"></a>Pull Platform</dt>
     <dd>A platform made up of people and technology 
         offering a wider range of loosely-coupled options for
         connecting library patrons and staff to resources managed
         by the library.
     </dd>
   </dl>
  </article>
 </div>
</div>
{% endblock %}
