{% extends 'layout.html' %}
{% block subtitle %}- Open Collaboration in Colorado Libraries{% endblock %}

{% block body %}
{# START title row #}
<div class="row">
 <article class="large-12 panel">
  <h2>Aristotle Library Apps</h2>
  <h1>HTML5 Single Page Apps</h1>
  <p>
    In the Aristotle Library Apps project, all applications are either standalone 
   <a href="http://en.wikipedia.org/wiki/Single-page_application">Single-page applications</a>
   or lousely coupled with other single-page applications. This approach allows for fast
   development of applications that are easy to create (one-offs are relatively simple to build
   and test) even for individuals with limited web design or development ability. If you can 
   create a webpage, you should be able to build a simple app in the Redis Library Services 
   Platorm.   
  </p>
  <hr>
 </article>
{# END title row #}
</div>

<div class="row">
 <div class="large-6 columns">
  <h3>MARC21 Batch App</h3>
  <img src="/calli-2013-presentation/assets/img/marc-batch-app-screen-shot.png">
 </div>
 <div class="large-6 columns">
  <h3>Fedora Utilities App</h3>
  <img src="/calli-2013-presentation/assets/img/fedora-utilities-app-screen-shot.png">
 </div>
</div>
{% endblock %}

