{% extends "layout.html" %}

{% block body %}
<!-- First Band (Image) -->
<div class="row">
  <div class="large-12 columns">
   <h3 class="subheader">Colorado Association of Libraries Leadership Institute</h3>
   <h1>Library Technology Collaboration in 2018</h1>
   <hr>
 </div>
</div>

<!-- Second Band (Image Left with Text) -->

<div class="row panel">
    <div class="large-4 columns">
      {# <img src="http://placehold.it/400x300&text=[img]"> #}
      <img src="/calli-2013-presentation/assets/img/danger-expectations.png">

    </div>
    <div class="large-8 columns">
      <h4>Purpose of Presentation.</h4>
      <div class="row">
        <div class="large-6 columns">
         <p>This presentation explores the question of "What will library technology collaboration in Colorado
            look like in five years?" by using the scenario forecasting model developed by futurist 
            <a href="/calli-2013-presentation/sources.html#future-thinking-basics">
              Jamais Cascio</a>
        </div>
        {# <div class="large-6 columns">
          <p>This presentation introduces the concept of a library pull platform as a newer, explict model
             for encouraging technology collaboration among libraries in Colorado.</p>
          <p></p>
        </div> #}
        <quote class="large-6 columns">
        "to illuminate unexpected implications of present-day issues; the emphasis isn't on what will happen, but on what could happen, given various observed drivers. It's a way of getting new perspectives and context for present-day decisions, as well as for dealing with the dilemma at the heart of all strategic thinking: the future can't be predicted, yet we have to make choices based on what is to come.  
        </quote>
      </div>
    </div>
  </div>


  <!-- Third Band (Image Right with Text) -->

  <div class="row">
   {% for column in slides.values()|slice(2) %}
    <div class="large-6 columns">
     {% for slide in column %}
     <aside class="panel {{ slide.name }} radius">
      {% if slide.name == 'future-weirder' %}
      <img src="/calli-2013-presentation/assets/img/tie-dyed.png" style="float: right">
      {% endif %}
      {% if slide.name == 'future-better' %}
      <img src="/calli-2013-presentation/assets/img/sun-sky.png" style="float: left; padding-right: .5em">
      {% endif %}

     <h5>{{ slide.label }}
      <a href="/calli-2013-presentation/slides/{{ slide.name }}">
      <span class="round alert label">Go</span> </a>
     </h5>
     <p>{{ slide.description }}</p>
     </aside>
     {% endfor %}
    </div>
   {% endfor %}
  </div>
{% endblock %}

