{% extends "layout.html" %}

{% block body %}
<!-- First Band (Image) -->
<div class="row">
  <div class="large-12 columns">
   <h3 class="subheader">Colorado Association of Libraries Leadership Institute</h3>
   <h1>Library Technology Collaboration for Colorado in the Next Five Years</h1>
   <hr>
 </div>
</div>

<!-- Second Band (Image Left with Text) -->

<div class="row panel">
    <div class="large-4 columns">
      {# <img src="http://placehold.it/400x300&text=[img]"> #}
      <img src="/calli-2013-presentation/assets/img/danger-expectations.png">

    </div>
    <div class="large-8 columns">
      <h4>Purpose of Presentation.</h4>
      <div class="row">
        <div class="large-6 columns">
         <p>This presentation explores the question of "What will library technology collaboration in Colorado
            look like in five years?" by using the scenario forecasting model developed by futurist 
            <a href="/calli-2013-presentation/sources.html#future-thinking-basics">
              Jamais Cascio</a>
        </div>
        {# <div class="large-6 columns">
          <p>This presentation introduces the concept of a library pull platform as a newer, explict model
             for encouraging technology collaboration among libraries in Colorado.</p>
          <p></p>
        </div> #}
        <div class="large-6 columns">
          <p>This presentation comes from research being done on 
          <a href="http://becomingleanlibrary.com/">Becoming a Lean Library</a>, a book I'm writing for Chandos Printing with a
          expected publication date in the third quarter of 2014</p> 

        </div>
      </div>
    </div>
  </div>


  <!-- Third Band (Image Right with Text) -->

  <div class="row">
   {% for slide in slides.values() %}
    <div class="large-3 columns">
     <aside class="panel">
     <h5>{{ slide.label }}
      <a href="/calli-2013-presentation/slides/{{ slide.name }}">
      <span class="round alert label">Go</span> </a>
     </h5>
     <p>{{ slide.description }}</p>
     </aside>
    </div>
   {% endfor %}
  </div>
{% endblock %}

