{% extends 'layout.html' %}
{% block subtitle %}- Open Collaboration in Colorado Libraries{% endblock %}

{% block body %}
{# START title row #}
<div class="row">
 <article class="large-9 columns slide-body-blu">
  <h2>Open Collaboration in Colorado Libraries</h2>
 </article>
 <aside class="large-3 columns">
  <h3>Open Access != Open Source</h3>
  <p>
   While it can sometimes be confusing; the term
   <a href="/calli-2013-presentation/glossary.html#open-access">Open Access</a> is 
   different from <a href="/calli-2013-presentation/glossary.html#open-source">Open
   Source</a>.  
  </p>
 </aside>
{# end title row #}
</div>
{# START Open Details #}
<div class="row">
 <article class="large-4 columns slide-body-grn">
  <h3>What's Next?</h3> 
 </article>

 <article class="large-8 columns">
  <div class="panel">
   <h3>Open Source Development in Colorado</h3>

  </div>
 </article>
{# END Open Details #}
</div>
{% endblock %}
