{% extends 'layout.html' %}
{% block subtitle %}- Open Collaboration in Colorado Libraries{% endblock %}

{% block body %}
{# START title row #}
<div class="row">
 <article class="large-9 columns slide-body-blu">
  <h2>Open Collaboration in Colorado Libraries</h2>
  <p>
   My goal with the development of the 
   <a href="/calli-2013-presentation/redis-library-services-platform">Redis Library Services Platform</a> is that
   of a <a href="/calli-2013-presentation/glossary.html#pull-platform">pull platform</a> that is simple to use by the patrons,
   is scalable, stable, an affordable for libraries and other memory institutions to support. The platform allows
   libraries to build single-page <a href="/calli-2013-presentation/html5-apps">HTML5 apps</a> that leverage the 
   best-of-class open-source web and data storage technologies. 
  </p>
  <p>
   At Colorado College, the current development path of the Redis Library Services Platform is primarily about 
   automating workflows for our ebook and electronic resources cataloging along with ingestion and management of 
   our digital repository.  
  </p>
 </article
>
{# end title row #}
</div>

{# START hr line #}
<div class="row">
 <div class="large-12"><hr></div>
{# START hr line #}
</div>

{# START Open Details #}
<div class="row">
 <article class="large-4 columns slide-body-grn">
  <h3>What's Next?</h3> 
  <p>
   Library technology collaboration in Colorado should include some discussions 
   on how to better position all of our libraries as we prepare for five years in the 
   future.   
  </p>
  <p>
    I am very interested in working with non-academic library in creating an 
    <a href="/calli-2013-presentation/html5-apps">HTML5 App</a> to address a challenge
    you might have in your library. I will be using techniques and processes 
    modified from the <a href="/calli-2013-presentation/glossary.html#lean-startup">Lean
    Startup</a> and 
   <a href="/calli-2013-presentation/glossary.html#lean-manufacturing">Lean Manufacturing</a>.
    A central tenet of the Lean Startup approach is to build a minimum viable product that
    then is improved in iterative process with direct feedback and responding to the demands
    of the end user.
  </p>
 </article>

 <article class="large-8 columns">
  <div class="panel">
   <h3>Partners in Open Source Development</h3>
   <p>
    With the drop in price and with more options for technology hosting, small and medium 
    organizations have more opportunities than ever before in disrupting and embracing new
    cloud services that can deliver more services on more devices. The Redis Library Services
    Platform offers such a technology and by partnering up with a non-academic library in 
    the development and release of an app, we can improve both the platform and the profession
    through collaborative technology development under a lean open-source model of 
    iterative development. 
   </p>    
   
  </div>
 </article>
{# END Open Details #}
</div>
{% endblock %}
