{% extends 'layout.html' %}
{% block subtitle %}- People are +1{% endblock %}

{% block body %}
{# START title Row #}
<div class="row">
 <article class="large-8 columns">
  <h2>People are +1</h2>
  <div class="panel">
   <p>In many open source development communities ideas are promoted and voted on 
      using a simple -1, 0 , +1 range for indicating to 
      the community disagreement, neutral, or agreement with the topic or statement.</p> 
  </div>
 </article>
 <div class="large-4 columns">
  <aside class="panel callout">
   <h3 class="subheader">Technology is a Tool</h3>
   <p>
    Technology should be thought of as just a tool. Too
    often anxiety builds when library staff and patrons are
    required to switch or change to using a new technology tool.

   </p>
  </aside>
 </div>
{# END title Row #}
</div>
{% endblock %}
