{% extends 'layout.html' %}
{% block subtitle %}- Redis Library Services Platform{% endblock %}

{% block body %}
{# START title row #}
<div class="row">
 <div class="large-12 panel columns">
   <h1>Redis Library Services Platform (<a href="/code4lib/glossary.html#RLSP">RLSP</a>)</h1>
   <p class="lead">
    The Redis Library Services Platform currently composed of two open-source projects;
    <a href="/calli-2013-presentation/glossary.html#aristotle-library-apps">Aristotle Library Apps</a> 
    and the <a href="/calli-2013-presentation/glossary.html#BIBFRAME-datastore">BIBFRAME Datastore</a>
   </p>
 </div>
{# END title row #}
</div>
{% endblock %}
