{% extends 'layout.html' %}
{% block subtitle %}- Sources{% endblock %}

{% block body %}
<div class="row">
 <div class="large-12">
  <article class="panel">
   <h1>Sources</h1>
   {% for source in sources %}
   <p><strong>{{ source.headline }}</strong>
   {% if source.author %}
   by 
   {% for author in source.author %}
     {{ author.name }}
     {% if not loop.last %},{% else %}.{% endif %}
   {% endfor %}
   {% endif %}
   {{ source.copyrightYear }}.
   {% if source.url %}
   <a href="{{ source.url }}">{{ source.url }}</a>
   {% endif %}
   <a href="/calli-2013-presentation/assets/js/{{ source.name }}.json">
    <img src="/calli-2013-presentation/assets/img/json-ld-data-24.png"
         title="JSON Linked Data for this Resource">
   </a> 
   </p>
   {% endfor %}
  </article>
 </div>
</div>
{% endblock %}
